
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Visitor.cshtml";
}


<div class="row">
    <aside class="col-md-3">
        <section id="today" class="col-md-12" v-cloak>
            <h4>
                Status Today
            </h4>
            <h5>{{ message.VisitorLimit_date }}</h5>
            <h5><b>Maxmium Visitors</b> - {{ message.VisitorLimit_max }}</h5>
            <h5><b>Visit Start Hour</b> - {{ message.VisitorLimit_start }}</h5>
            <h5><b>Visit End Hour</b> - {{ message.VisitorLimit_end }}</h5>
        </section>
    </aside>
</div>