<script type="text/javascript" src="~/Scripts/visitor/admin.js"></script>
<link rel="stylesheet" href="~/Content/visitor/admin.css" />

@{
    ViewBag.Title = "Admin";
}


<div class="row">
    <aside class="col-md-3">
        <section id="today" class="col-md-12" v-cloak>
            <h4>
                Status Today
            </h4>
            <h5>{{ limitations.VisitorLimit_date }}</h5>
            <h5><b>Maxmium Visitors</b> - {{ limitations.VisitorLimit_max }}</h5>
            <h5><b>Registered Visitors</b> - {{ registered }}</h5>
            <h5><b>Visit Start Hour</b> - {{ limitations.VisitorLimit_start }}</h5>
            <h5><b>Visit End Hour</b> - {{ limitations.VisitorLimit_end }}</h5>
        </section>
    </aside>
</div>