<script type="text/javascript" src="~/Scripts/visitor/admin.js"></script>
<link rel="stylesheet" href="~/Content/visitor/admin.css" />

@{
    ViewBag.Title = "Admin";
}


<div class="row">
    <aside class="col-md-4">
        <div class="form-group">
            <label for="datepicker">Check a date:</label>
            <input type="text" id="datepicker">
        </div> 
        <section id="special" class="col-md-12" v-cloak>
            <h5>Maxmium Visitors - {{ specialMax }}</h5>
            <h5>Visit Start Hour - {{ specialStart }}</h5>
            <h5>Visit End Hour - {{ specialEnd }}</h5>
        </section>
    </aside>
    
    <main id="today" class="col-md-4" v-cloak>
        <section id="today-display" class="today col-md-12">
            <h4>
                Status Today
            </h4>
            <h5>{{ today }}</h5>
            <h5><b>Maxmium Visitors</b> - {{ oldMax }}</h5>
            <h5><b>Registered Visitors</b> - {{ registered }}</h5>
            <h5><b>Visit Start Hour</b> - {{ oldStart }}</h5>
            <h5><b>Visit End Hour</b> - {{ oldEnd }}</h5>
            <button class="btn btn-default" v-on:click="editToday">{{ todayButton }}</button>
        </section>
        <section id="today-edit" class="today col-md-12" v-show="showToday">
            <h4>
                Edit today's limitation
            </h4>
            <div class="form-group">
                <label for="today-edit-max">Maximun Visitors</label>
                <input v-model.number="newMax" id="today-edit-max" class="form-control" placeholder="Maxmium Visitors">
            </div>
            <div class="form-group">
                <label for="today-edit-start">Visit Start Hour</label>
                <input v-model.number="newStart" id="today-edit-start" class="form-control" placeholder="Visit Start Hour">
            </div>  
            <div class="form-group">
                <label for="today-edit-end">Visit End Hour</label>
                <input v-model.number="newEnd" id="today-edit-end" class="form-control" placeholder="Visit End Hour">
            </div>
            <h6 class="col-md-12">{{ todayError }}</h6>
            <button class="btn btn-default" v-on:click="saveToday">Save</button>
        </section>
    </main>
</div>