[v-cloak] {
    display: none;
}

main{
    margin-top:50px;
    border-radius:10px;
}

.today {
    padding-top: 10px;
    padding-bottom: 5px;
}

.today h4{
    font-weight:bold;
    text-align:center;
}

#today-display {
    background-color: antiquewhite;
    border-radius: 5px 5px 0 0;
}

#today-display >:nth-child(2) {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-align: center;
}

#today-edit {
    background-color: #f2f1ed;
    border-radius: 0 0 5px 5px;
}

#today-edit input {
    margin-bottom: 10px;
}

#today-edit h6{
    color:red;
}

aside {
    margin-top: 50px;
}

#special{
    border-left: 3px solid #8d0101;
    padding-left: 6%;
}