
@{
    ViewBag.Title = "Home";
}

    <!-- Page Content -->
        <!-- Jumbotron Header -->
        <section class="jumbotron">
            <h3 id="banner-text">Quick Resources</h3>
            <div class="row">
                <p><a class="btn btn-primary btn-large">Log-In</a>&nbsp; <a class="btn btn-primary btn-large">Book An Appointment</a></p>
                <p><a class="btn btn-primary btn-large">Suggestions</a>&nbsp; <a class="btn btn-primary btn-large">Online Payment</a></p>
            </div>
        </section>
        <hr>
        <!-- Title -->
        <div id="features">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center text-uppercase"><strong>Major Services</strong></h3>
                </div>
            </div>
            <!-- /.row -->
            <!-- Page Features -->
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div>
                        <img src="~/Content/images/icon1.png" width="150" height="150" alt="">
                        <div class="caption">
                            <h3>Urgent Care</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div>
                        <img src="~/Content/images/icon2.png" width="150" height="150" alt="">
                        <div class="caption">
                            <h3>Long Term Care</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                 <a href="#" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div>
                        <img src="~/Content/images/icon3.png" width="150" height="150" alt="">
                        <div class="caption">
                            <h3>Maternal Care</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div>
                        <img src="../Content/images/icon4.png" width="150" height="150" alt="">
                        <div class="caption">
                            <h3>Mental Health</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <hr>

        <!-- Sub Content -->
        <div id="sub" class="row">
            <div class="col-md-4 col-sm-12">
                <h3>Latest News and Blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                @Html.ActionLink("View More", "Index", "Blogs")
            </div>
            <div class="col-md-4 col-sm-6">
                <h3>F.A.Q.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#">Read More</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3>Testimonials</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#">Read More</a></p>
            </div>
        </div>
    

