#main{
    margin-top:20px;
}

#main h3{
    font-weight:bold;
    text-align:center;
    margin-bottom:20px;
}

#main section{
    background-color:cornsilk;
    border-radius:10px;
    padding:10px 3%;
}

.main-list{
    margin:15px 0;
}

.main-list h4{
    font-weight:bold;
}

#aside{
    margin-top:70px;
}

#aside h5{
    margin-bottom: 10px 0;
    cursor:pointer;
}