body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 400px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    margin-bottom: 20px;
}

.auth-form {
    max-width: 600px;
    margin: auto;
}

.clickable {
    cursor: pointer;
}
#links_servers_cure a {
	text-decoration: none;
	color: black;
	padding: 3px 10px;
}
#links_servers_care a {
	text-decoration: none;
	color: black;
	padding: 3px 10px;
}
@media (max-width: 767px) {
	#links_servers_care a, #links_servers_cure a {
		color: #9d9d9d;
	}
}