<link rel="stylesheet" href="~/Content/email/public.css" />

@model IEnumerable<OSMH.Models.EmailPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside class="col-md-4">
    <h2>Subscrube us</h2>
</aside>

<main class="col-md-8">
    <h3>Past Emails</h3>
    @foreach (var item in Model)
    {
        <section>
            <h4>
                @Html.DisplayFor(modelItem => item.Title)
            </h4>
            <h6>
                @Html.DisplayFor(modelItem => item.Content)
            </h6>
            <h6>
                @Html.DisplayFor(modelItem => item.date)
            </h6>
            <h6>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </h6>
        </section>
    }
</main>

