<link rel="stylesheet" href="~/Content/email/public.css" />
<script type="text/javascript" src="~/Scripts/email.js"></script>

@model IEnumerable<OSMH.Models.EmailPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside class="col-md-4">
    <h4>Subscrube us</h4>
    <input type="email" id="email" class="form-control" placeholder="Email" >
    <h5 id="error"></h5>
    <input id="confirm" class="btn btn-default" type="button" value="Confirm">
</aside>

<main class="col-md-7 col-md-offset-1">
    <h3>Past Emails</h3>
    @foreach (var item in Model)
    {
        <section>
            <h4>
                @Html.DisplayFor(modelItem => item.Title)
            </h4>
            <h6>
                @Html.Raw(@item.Content)
            </h6>
            <h6>
                @Html.DisplayFor(modelItem => item.date)
            </h6>
        </section>
    }
</main>

