<div class="suggestion-menu">
	<p class="col-sm-4">
		@Html.ActionLink("Index", "Index", new { @class = "btn btn-default" })
	</p>
		@Html.ActionLink("My Suggestion", "MySuggestion", new { @class = "btn btn-default" })
		@Html.ActionLink("Create New Suggestion", "Create", new { @class = "btn btn-default" })
</div>

