<div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Filter by Date</h4></div>
        <div class="panel-body">
            <ul class="list-unstyled">
                @foreach (var date in ViewBag.dates)
            {
                    <li><a href="/Blogs/Archive/@date.ToShortDateString()">@date.ToShortDateString()</a></li>
                }
            </ul>
        </div>
    </div>
</div>
