<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/visitor/admin.css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="~/Scripts/visitor/visitor.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
