@model IEnumerable<OSMH.Models.Testimonial>

@{
    ViewBag.Title = "Testimonials";
}

<h2>Testimonials</h2>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">@ViewBag.Message</div>
}
<p>
    @Html.ActionLink("Submit your testimonial", "Create")
</p>
<div id="sub" class="row">
@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-12">
        <h3>@item.Title</h3>
        <p>@item.Message</p>

    </div>
}
</div>
