@model IEnumerable<OSMH.Models.Message>

@{
    ViewBag.Title = "Messages";
}

<h2>Leave Message</h2>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">@ViewBag.Message</div>
}

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    
